[project]
	description = Vector Packet Processor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-admins
	owner = group user/Agustin Rivero (mido-gerrithub-sync)
	forgeCommitter = group midonet
[access "refs/for/refs/*"]
	read = group Anonymous Users
	read = group user/Agustin Rivero (mido-gerrithub-sync)
	push = group Registered Users
	push = group user/Agustin Rivero (mido-gerrithub-sync)
	label-Code-Review = -2..+2 group user/Agustin Rivero (mido-gerrithub-sync)
	label-Verified = -1..+1 group user/Agustin Rivero (mido-gerrithub-sync)
	rebase = group midonet
	rebase = group user/Agustin Rivero (mido-gerrithub-sync)
	removeReviewer = group midonet
	removeReviewer = group user/Agustin Rivero (mido-gerrithub-sync)
	submit = group user/Agustin Rivero (mido-gerrithub-sync)
[access "refs/heads/*"]
	read = group Anonymous Users
	read = group user/Agustin Rivero (mido-gerrithub-sync)
	create = group midonet
	create = group user/Agustin Rivero (mido-gerrithub-sync)
	push = +force group midonet
	push = +force group user/Agustin Rivero (mido-gerrithub-sync)
	pushMerge = group midonet
	pushMerge = group user/Agustin Rivero (mido-gerrithub-sync)
	abandon = group midonet
	label-Code-Review = -2..+2 group midonet
	label-Verified = -1..+1 group midonet
	label-Verified = -1..+1 group midonet-bots
	labelAs-Code-Review = -2..+2 group midonet
	labelAs-Verified = -1..+1 group midonet
	rebase = group midonet
	publishDrafts = group midonet
	viewDrafts = group midonet
	deleteDrafts = group midonet
	submit = group midonet
[access "refs/tags/*"]
	push = +force group midonet
	push = +force group user/Agustin Rivero (mido-gerrithub-sync)
	createTag = +force group midonet
	createTag = +force group user/Agustin Rivero (mido-gerrithub-sync)
	createSignedTag = group midonet
	createSignedTag = group user/Agustin Rivero (mido-gerrithub-sync)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[access "refs/changes/*"]
	read = group Anonymous Users
