[project]
	description = Vector Packet Processor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mido-gerrithub-sync
[access "refs/for/refs/*"]
	read = group user/mido-gerrithub-sync
	push = group user/mido-gerrithub-sync
	label-Code-Review = -2..+2 group user/mido-gerrithub-sync
	label-Verified = -1..+1 group user/mido-gerrithub-sync
	rebase = group user/mido-gerrithub-sync
	removeReviewer = group user/mido-gerrithub-sync
	submit = group user/mido-gerrithub-sync
[access "refs/heads/*"]
	read = group user/mido-gerrithub-sync
	create = group user/mido-gerrithub-sync
	push = +force group user/mido-gerrithub-sync
	pushMerge = group user/mido-gerrithub-sync
[access "refs/tags/*"]
	push = +force group user/mido-gerrithub-sync
	pushTag = group user/mido-gerrithub-sync
	pushSignedTag = group user/mido-gerrithub-sync
